<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KRB - PLC </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static',filename='img/favicon.ico') }}" rel="icon">
    <!-- <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon"> -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}"
        rel="stylesheet" />
    <!-- Include the SheetJS library in your HTML head section -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <!-- <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <style>
        table{
            width: 100%;
            table-layout: fixed;
        }
        /* table th td{
            width: 33.33%;
        } */

        th td{
            overflow: hidden;
        }

        table th:nth-child(3),
        table td:nth-child(3) {
            text-align:right;
        }
    </style>

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="{{ url_for('main.index') }}" class="navbar-brand mx-4 mb-3">
                    <h4 class="text-primary">Kase</h4>
                </a>
                <!-- User Profile Section -->
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="{{ url_for('static',filename='img/krblogoBig.png') }}" alt=""
                            style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">KRB-PLC</h6>
                        <span></span>
                    </div>
                </div>
                <!-- Navigation Links -->
                <div class="navbar-nav w-100">
                    <!-- <a href="{{ url_for('analytics.analytics') }}" class="nav-item nav-link"><i
                        class="fa fa-chart-bar me-2"></i>Dashboard/a> -->

                    <a href="{{ url_for('main.index') }}" class="nav-item nav-link"><i
                            class="fa fa-chart-pie me-2"></i>Loans
                    </a>
                    <a href="{{ url_for('returns.returns') }}" class="nav-item nav-link"><i
                            class="fa fa-chart-line me-2"></i>Advances</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Data Upload Section -->
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                     <h6 class="mb-4">Upload Loan Datas</h6>
                    <form id="data-upload-form" enctype="multipart/form-data" method="post">
                        <div class="mb-3">
                            <label for="loan-data-file" class="form-label">Choose a CSV file:</label>
                            <input type="file" class="form-control" name="loan-data-file" id="loan-data-file"
                                accept=".csv">
                        </div>
                    </form>
                    <button id="process-button" class="btn btn-primary">Process and Calculate</button> 



                </div>
                <div id="result-container"></div>
            </div> -->

            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold mb-4">Loan Classification</h5>
                            <div class="card">
                                <div class="card-body">
                                    <!-- <form method="post" action="{{ url_for('loan_classification.create_loan_classification') }}">
                                        <div class="mb-3">
                                            <label for="loanClassName" class="form-label">Loan Classification
                                                Date</label>
                                            <input type="text" class="form-control" name="loanClassName" id="loanClassName"
                                                aria-describedby="loanClassNameHelp">
                                        </div>
                                    
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form> -->

                                    <form method="post" action="{{ url_for('loan_classification.create_loan_classification') }}">
                                        <div class="mb-3">
                                            <label for="loanClassificationDate" class="form-label">Month</label>
                                            
                                            <!-- Month Dropdown -->
                                            <select name="loanClassMonth" id="loanClassMonth" class="form-control mb-2">
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">March</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>
                                            

                                            <label for="loanClassificationDate" class="form-label">Year</label>

                                            <!-- Year Dropdown -->
                                            <select name="loanClassYear" id="loanClassYear" class="form-control"></select>
                                        </div>
                                    
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                    
                                </div>
                            </div>

                            <br>
                            <br>

                            <div class="card w-100">
                                <div class="card-body p-4">
                                    <h5 class="card-title fw-semibold mb-4">Loan Classification Records </h5>
                                    <div class="table-responsive">
                                        <table class="table text-nowrap mb-0 align-middle">
                                            <thead class="text-dark fs-4">
                                                <tr>
                                                    <th class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0">#</h6>
                                                    </th>
                                                    <th class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0">Loan Classification Date</h6>
                                                    </th>
                                                    <!-- <th class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0">Loan Classification Description
                                                        </h6>
                                                    </th> -->
                                                    <th class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0"></h6>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <!-- <tbody>
                                                <tr>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0">1</h6>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-1">Classification of loan</h6>
                                                        <span class="fw-normal">May 2022</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <p class="mb-0 fw-normal">lorem ipsum lorem ipsum</p>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <button class="btn btn-primary">Upload Files</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0">2</h6>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-1">Classification of loan</h6>
                                                        <span class="fw-normal">June 2022</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <p class="mb-0 fw-normal">lorem ipsum lorem ipsum</p>
                                                    </td>

                                                    <td class="border-bottom-0">
                                                        <button class="btn btn-primary">Upload Files</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0">3</h6>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-1">Classification of loan</h6>
                                                        <span class="fw-normal">July 2022</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <p class="mb-0 fw-normal">lorem ipsum lorem ipsum</p>
                                                    </td>

                                                    <td class="border-bottom-0">
                                                        <button class="btn btn-primary">Upload Files</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0">4</h6>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-1">Classification of loan</h6>
                                                        <span class="fw-normal">August 2022</span>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <p class="mb-0 fw-normal">lorem ipsum lorem ipsum</p>
                                                    </td>

                                                    <td class="border-bottom-0">
                                                        <button class="btn btn-primary">Upload Files</button>
                                                    </td>
                                                </tr>
                                            </tbody> -->
                                            <tbody>
                                                {% for classification in loan_classes %}
                                                <tr>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-0">{{ classification.id }}</h6>
                                                    </td>
                                                    <td class="border-bottom-0">
                                                        <h6 class="fw-semibold mb-1">{{ classification.loan_classification_name }}</h6>
                                                        <!-- <span class="fw-normal">{{ classification.date }}</span> -->
                                                    </td>
                                                    <!-- <td class="border-bottom-0">
                                                        <p class="mb-0 fw-normal">{{ classification.loan_classification_desc }}</p>
                                                    </td> -->
                                                    <td class="border-bottom-0">
                                                        <a href="{{ url_for('loan_classification.loan_classification_uploads', id=classification.id ) }}" class="btn btn-primary">Files</a>
                                                        <a class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>
        <!-- Content End -->
    </div>

    <div id="result-container"></div>

    <!-- Add this script after your HTML content -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>


    <script>
        // Generate years dynamically for the select dropdown
        let currentYear = new Date().getFullYear();
        let startYear = currentYear - 10;  // Let's say 10 years before current year
        let endYear = currentYear + 10;    // 10 years after current year
        
        let yearDropdown = document.getElementById("loanClassYear");
    
        for(let i = startYear; i <= endYear; i++) {
            let option = document.createElement("option");
            option.value = i;
            option.text = i;
            yearDropdown.appendChild(option);
        }
    </script>
    
    
    


    <!-- Modify your existing script -->
    <script>
        "use strict";

        // Function to handle file input change
        // document.getElementById("loan-data-file").addEventListener("change", function (event) {
        //     var file = event.target.files[0];
        //     Papa.parse(file, {
        //         header: true,
        //         dynamicTyping: true,
        //         complete: function (results) {
        //             // This will hold the parsed data
        //             var data = results.data;

        //             // Group data based on the value at index 5 (Product Name)
        //             var groupedData = {};
        //             data.forEach(function (record) {
        //                 var productName = record["Product Name"];
        //                 if (!groupedData[productName]) {
        //                     groupedData[productName] = [];
        //                 }
        //                 groupedData[productName].push(record);
        //             });

        //             // Call a function to display the data in a table
        //             // console.log(groupedData);
        //             displayGroupedDataInTable(groupedData);
        //         }
        //     });
        // });
    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='lib/chart/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>

</html>