<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Loan Processing </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
    
        <!-- Favicon -->
        <link href="{{ url_for('static',filename='img/favicon.ico') }}" rel="icon">
        <!-- <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon"> -->
    
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    
        <!-- Libraries Stylesheet -->
        <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}"
            rel="stylesheet" />
        <!-- Include the SheetJS library in your HTML head section -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    
    
        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
        <!-- Template Stylesheet -->
        <!-- <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet"> -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <style>
            table{
                margin-top: 10%;
            }
            .btn-container{
                float: right;
                margin-top: 5%;
                      }
        </style>
    </head>
<body>
    <div class="container">
        <div class="btn-container">
            <button class="btn btn-primary">Button</button>
            <button style="margin-right: 7%;" class="btn btn-primary">Button</button>
        </div>
        <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
                <tr>
                    <th>header1</th>
                    <th>header1</th>
                    <th>header1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
            </tbody>
        </table>
        

    </div>
</body>
</html>